/* Font */
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Belanosima', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

p {
    margin: 16px 0;
}

/* Para prevenir que las imágenes "rompan" la página */
img {
    max-width: 100%;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    background-color: #0D5BD6;
    /* Para que quede fijo en la ventana */
    position: fixed;
    top: 0;
    left: 0;
    /* Para agregarle una sombra */
    box-shadow: 0 3px 10px -5px #5f5f5f;
}

.logo {
    width: 120px;
}

/* Menú de navegación */
ul#menu {
    display: flex;
    font-size: 20px;
    
}

li.menu-item a {
    color:#F0F8F7;
    padding: 16px;
    display: inline-block;
}

li.menu-item a.active{
    font-weight: bold;
}

li.menu-item a:hover{
    color: #9AA3D2;
}

/* Main */

main {
    max-width: 1200px;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 50vh;
    /* lugar para el header */

}


/* Sección Inicio */
section#inicio {
    justify-content: space-around;
    padding-top: 120px; 
}

figure.presentacion-img {
    margin-bottom: 10px;
}

figure.presentacion-img img {
    border-radius: 50%;
    width: 400px;
}

article.presentacion {
    width: 100%;
    text-align: center;
}

a.btn {
    background-color: #080686;
    color: #fbfbfb;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2);
}

a.btn:hover {
    background-color:#9AA3D2;
    color:  #080686;
}

/* Sección Skills*/
section#skills {
    text-align: center;
    
}

article.skills-principal {
    background: #9AA3D2;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

ul#skills-items {
    display: flex;
}

ul#skills-items li {
    padding: 8px;
    border-radius: 4px;
}

img.skillicon {
    width: 300px;
}

/* Sección Contacto */
section#contacto p {
    text-align: center;
}

article.contactame {
    background: #9AA3D2;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

ul#contact-links {
    display: flex;
    margin-top: 20px;
}

ul#contact-links li {
    margin: 16px;
    padding: 8px;
    border-radius: 4px;
}
ul#contact-links li:hover {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);   
}

img.icon {
    width: 200px;
}


/* Footer */
footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D5BD6;
    color: #fbfbfb;
}

/* RESPONSIVE (para iphone) */
@media screen and (max-width:390px){
    body {
        font-size: 14px;
        line-height: 1.2;
    }
    h1 {
        font-size: 26px;
        text-align: center;
    }
    section#inicio {
        justify-content: space-around;
        padding-top: 120px;
    }
    figure.presentacion-img img {
        border-radius: 50%;
        width: 250px;
    }
    ul#menu {
        font-size: 16px; 
    }
    li.menu-item a {
        padding: 12px;
    }
    img.skillicon {
        width: 120px;
    }
    img.icon {
        width: 60px;
    }
}